* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, Helvetica Neue, Arial;
}
.design-image {
  width: 100%;
  height: 84vh;
  filter: brightness(20%);
  z-index: -1;
}
.icons {
  z-index: 1;
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -60%);
  color: white;
  font-size: 2.6rem;
  font-weight: 300;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 3rem;
}
.icon-group {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  padding: 0.3rem;
  transition: all 0.3s ease;
}
.icon-group::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffcf40;
  transition: width 0.3s ease;
}
.icon-group:hover::after {
  width: 100%;
}
.icon-group:hover {
  color: #ffcf40;
  border-radius: 5px;
}
.icon-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.small-arrow {
  position: absolute;
  top: 4rem;
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: #ffcf40;
}
.text {
  margin-top: 0;
  font-size: 2.8rem;
}
.h1-welcome {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -40%);
  color: white;
  font-size: 4.8rem;
  font-weight: 600;
  animation: popIn 0.8s ease-out forwards;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2), 6px 6px 10px rgba(0, 0, 0, 0.15);
}

@keyframes popIn {
  0% {
    transform: translate(-50%, -40%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -40%) scale(1);
    opacity: 1;
  }
}
.p-welcome {
  z-index: 1;
  position: absolute;
  top: 75%;
  left: 27.2%;
  transform: translate(-50%, -60%);
  color: white;
  font-size: 1.2rem;
  font-weight: 100;
  width: 40%;
  font-weight: 200;
  margin-top: 1rem;
  animation: popIn 0.8s ease-out forwards;
}

.welcome-button {
  z-index: 1;
  position: absolute;
  top: 90%;
  left: 11.6%;
  width: 11rem;
  transform: translate(-50%, -60%);
  color: rgb(255, 255, 255); /* White text */
  text-shadow: -1px 0 rgb(0, 0, 0), 0 -1px rgb(5, 5, 5), 1px 0 rgb(0, 0, 0),
    0 1px rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgb(16, 39, 210);
  border-radius: 20px;
  padding: 0.5rem;
  border: 0.5px solid gold;
}

.welcome-button:hover {
  background-color: rgb(13, 159, 8); /* Adjusted background color for hover */
  transform: translate(-50%, -60%) scale(1.1); /* Maintain translation and apply scaling */
  color: white;
}

.twelve {
  position: relative; /* Add this line */
  background: #255036;
  height: 50vh; /* Change from a fixed height to auto to accommodate content */
  color: #ffcf40;
  margin-bottom: 2rem;
}

.h2-welcome {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 0rem 0rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}
.h2-sub {
  color: #ffcf40;
  padding-left: 1rem;
}
.hr-welcome {
  width: 30%;
  margin: 0 auto;
  border: white 1px solid;
}

.what-we-do {
  display: flex;
  justify-content: center;
  padding: 1rem 4rem 1rem 4rem;
  margin: 2rem 10rem 2rem 10rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  border: 1px solid white;
  border-radius: 10px;
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.arrow {
  position: absolute;
  bottom: 5%; /* Adjust this value to position the arrow below the .twelve div */
  left: 50%;
  transform: translateX(-50%); /* Centers the arrow horizontally */
  color: #ffcf40;
  font-size: 3rem;
  font-weight: 300;
  /* Removed margin-top as it's now positioned absolutely relative to its nearest positioned ancestor */
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 2s ease forwards;
}
.working-with-us {
  height: 70vh;
}
.h2-container {
  display: grid;
  justify-content: center;
}
.h2-working {
  display: inline; /* or inline-block */
  justify-content: center;
  padding: 0rem 0rem 2rem 0rem;
  font-size: 3rem;
  font-weight: 500;
  color: #255036;
}
.working-2 {
  display: inline; /* or inline-block */
  color: #ffcf40;
}
.p-working-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  font-weight: 200;
  font-size: 1.1rem;
  height: 41vh;
}
.p-working1,
.p-working3 {
  width: 60%;
}
.quote {
  display: grid;
  background-color: #255036;
  border-radius: 20px;
  color: #ffcf40;
  font-weight: 500;
  padding: 0.7rem;
  font-size: 1.5rem;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem;
}

.clients {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 1rem;
}
